<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Tenzu | تنزو</title>
  <style>
    body {
      font-family: 'Vazirmatn', sans-serif;
      background-color: black;
      color: #fff;
      text-align: center;
    }

    .container {
      align-items: center;
      margin: 0 auto;
      width: 80%;
      text-align: center;
      color: #ffffff;
    }

    .title,
    .lets-p {
      color: #ffffff;
      font-size: 2em;
      font-weight: bold;
    }

    .subtitle {
      color: #ffffff;
      font-size: 1.5em;
      font-weight: bold;
      margin-top: -0.5em;
    }

    .title {
      color: #ffffff;
    }

    .conf-p {
      color: #ffffff;
      width: 70%;
      font-size: 1.2em;
      text-align: right;
      direction: rtl;
    }

    .conf-link {
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 50px;
      text-decoration: none;
      background-color: #ffffff;
      border-radius: 5px;
      margin-bottom: 2rem;
    }

    .link-text {
      color: #fff;
      font-size: 2em;
      line-height: 50px;
      border-radius: 12px;
      padding: 10px 20px;
      background-color: #4484c0;
    }

    img {
      padding-top: 50px;
      width: 200px;
    }

    .spacer {
      margin: auto;
      height: 1px;
      margin-top: 2rem;
      width: 50%;
      background-color: #c4c4c4;
    }

    .footer-text {
      padding-top: 0.5rem;
      color: #797979;
      font-size: 0.9em;
    }

    .cr {
      direction: rtl;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color: #969696;
      font-size: 0.8em;
    }

    .links {
      margin: auto;
      padding-top: 20px;
    }

    .links>a {
      color: #ffffff;
      font-weight: 600;
      text-decoration: none;
      padding: 0 15px;
    }
  </style>
</head>

<body>

  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="650" valign="top" align="center" bgcolor="black">
        <img src="https://tenzu-images.s3.ir-thr-at1.arvanstorage.com/Mail-Tenzu-Logo.png" />
        <h1 class="title">تنزوشاپ</h1>
        <h1 class="subtitle">ثبت اولیه سفارش</h1>
        <p class="conf-p">
          کاربر {{username}} عزیز،
          <br />
          مبلغ سفارش شما با موفقیت پرداخت شد. همکاران ما در اسرع وقت سفارش شما را تهیه خواهند کرد. <br />
          شماره سفارش: {{orderID}}
          <br />
          تاریخ: {{date}}
        </p>
        <!-- <span class="link-text">123</span> -->
        <!-- <br />
      <br /> -->
      </td>
    </tr>
  </table>
  <div class="spacer"></div>

  <div class="links">
    <a href="http://shop.tenzumusic.com/">تنزوشاپ</a>
    <a href="http://shop.tenzumusic.com/help-center/faq">سوالات متداول</a>
    <a href="http://shop.tenzumusic.com/contact">تماس با ما</a>
  </div>
  <p class="cr">© کلیه حقوق این سایت متعلق به تنزوموزیک میباشد.</p>
  </div>
</body>

</html>